/* Header */
header {
  height: 100px;
  box-shadow: 5px 2px 8px -1px rgba(0, 0, 0, 0.84);
  -webkit-box-shadow: 5px 2px 8px -1px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: 5px 2px 8px -1px rgba(0, 0, 0, 0.84);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header a {
  margin-right: 16px;
  text-decoration: none;
  color: rgba(168, 160, 160, 0.699);
}

header a:hover {
  color: rgb(168, 160, 160);
}

/* Body */

body {
  margin: 0;
}

.info__wikipedia {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.info__wikipedia a {
  background-color: rgba(0, 179, 255, 0.559);
  color: white;
  text-decoration: none;
  padding: 10px;
  border: 3px dotted rgba(0, 0, 0, 0);
}

.info__wikipedia a:hover {
  background-color: rgba(45, 173, 232, 0.514);
}

.body__test p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: blue;
}

/* Footer */
